@mixin prefix($property, $value) {
  -webkit-#{$property}: #{$value};
  -moz-#{$property}: #{$value};
  -ms-#{$property}: #{$value};
  -o-#{$property}: #{$value};
  #{$property}: #{$value};
}

@mixin imageFrame($X, $Y) {
  position: relative;
  &:before {
    content: '';
    display: block;
    padding-top: percentage($Y / $X);
  }

  & > *:first-child {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
  }
}

$full-width: 100%;
$border-color: #000;
body {
  margin: 0;
}

ul {
  width: 100%;
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    float: left;
  }
}

.cv-background-top {
  min-height: 450px;
  background: #9B0002;
}

.cv-background-bottom {
  min-height: 187px;
  background: #4D5055;
}

.cv-content-block {
  position: absolute;
  top: 0;
  width: 100%;
}

.cv-block {
  position: relative;
}

.cv-content {
  margin: 15px;
  background: #fff;
}

.name-block {
  font-size: 25px;
  text-align: right;
}

.developer-block {
  font-size: 20px;
  text-align: right;
}

$avatar-size: 100px;
.avatar {
  text-align: right;
  position: absolute;
  width: 100%;
  img {
    width: $avatar-size;
    height: $avatar-size;
    border-radius: 50%;
    border: 4px solid $border-color;
  }
}

.imgage-info-block {
  position: absolute;
  top: 35px;
  width: 30%;
  right: 75px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.imgage-block {
  position: relative;
  min-height: $avatar-size;
}
.contact-block{
  display: inline-block;
}
.contact-detail-item {
  $contact-icon-width: 10%;
  padding: 5px 0;
  border-bottom: 1px solid $border-color;
  float: left;
  width: 100%;
  &:first-child {
    border-top: 1px solid $border-color;
  }
  li {
    width: 100% - $contact-icon-width;
    text-align: right;
    border-left: 1px solid $border-color;
    &:first-child {
      width: $contact-icon-width;
      border-left: none;
      text-align: left;
    }
    height: 50px;
    > div{
      margin-left: auto;
      margin-right: auto;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
.contact-icon{
  .fa{
    font-size: 20px;
  }
}
.about-me-specific{
  display: inline-block;
  width: 100%;
  li{
    width: $full-width/3;
    &:nth-child(2){
      text-align: center;
    }
    &:nth-child(3){
      text-align: right;
    }
  }
}
//tag css
.tags{
  display: inline-block;
  width: 100%;
}
.tags li, .tags a{
  float:left;
  height:24px;
  line-height:24px;
  position:relative;
  font-size:11px;
}
.tags a{
  margin-left:20px;
  padding:0 10px 0 12px;
  background:#0089e0;
  color:#fff;
  text-decoration:none;
  @include prefix(border-bottom-left-radius, 2px);
  @include prefix(border-top-left-radius, 2px);
}
.tags a:before{
  content: "";
  float: left;
  position: absolute;
  top: 0;
  right: -12px;
  width: 0;
  height: 0;
  border-color: transparent transparent transparent #0089e0;
  border-style: solid;
  border-width: 12px 0 12px 12px;
}
.tags a:after{
  content:"";
  position:absolute;
  top:10px;
  right: -70px;
  float:left;
  width:4px;
  height:4px;
  @include prefix(border-radius, 2px);
  background: #0089e0;
}
.line{
  position: absolute;
  top: 44%;
  left: 90%;
  width: 70px;
  height: 2px;
  background: #0089e0;
}
.education-content{
  padding-left: 70px;
}